@tailwind base;
@tailwind components;
@tailwind utilities;

 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: azure;
  color: darkslategray;
  font-family:'Roboto', sans-serif ;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
